.loginForm {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: 768px) {
        width: 400px;
    }
}

.input {
    margin-top: 10px;
}

.loginBtn {
    margin-top: 15px;
    margin-left: auto;
}
